<!--
 * @ Licence: OwnPlot, the OwnTech data plotter. Copyright (C) 2022. Matthias Riffard & Guillaume Arthaud - OwnTech Foundation.
	Delivered under GNU Lesser General Public License Version 2.1 (https://opensource.org/licenses/LGPL-2.1)
 * @ Website: https://www.owntech.org/
 * @ Mail: owntech@laas.fr
 * @ Create Time: 2022-08-30 09:31:24
 * @ Modified by: Jean Alinei
 * @ Modified time: 2022-09-07 13:46:44
 * @ Description:
 -->
 
<div class="px-4">
	<div class="tab-content my-3">
		<div class="tab-pane fade" id="nav-command" role="tabpanel" aria-labelledby="nav-command-tab">
			<%- include('commandTab'); %>
		</div>
		<div class="tab-pane fade" id="nav-settings" role="tabpanel" aria-labelledby="nav-settings-tab">
			<%- include('settingsTab'); %>
		</div>
		<div class="tab-pane fade" id="nav-chartConfig" role="tabpanel" aria-labelledby="nav-chartConfig-tab">
			<%- include('chartConfigTab'); %>
		</div>
		<div class="tab-pane fade" id="nav-record" role="tabpanel" aria-labelledby="nav-record-tab">
			<%- include('recordTab'); %>
		</div>
		<div class="tab-pane fade" id="nav-simulation" role="tabpanel" aria-labelledby="nav-simulation-tab">
			<%- include('simulationTab'); %>
		</div>
	</div>
</div>