<%- include('template/header'); %>
<main class="col-md-12">
	<div class="row" id="topBar">
		<div class="col-10">
			<%- include('template/navBar'); %>
		</div>
		<div class="col-2">
			<%- include('template/portTab'); %>
		</div>
	</div>
	<div class="row">
		<div class="col-3"  id="sideBar">	
			<%- include('template/tabs'); %>
		</div>
		<div class="col-9 px-0">
			<%- include('template/chart'); %>
			<div class="row">
				<div class="container container-fluid" id="terminalBar">
					<%- include('template/terminalTab'); %>
				</div>
			</div>
		</div>
	</div>
</main>
<%- include('template/scripts'); %>
<%- include('template/footer'); %>
<% ejse.stopListening() %>
