<%- include('template/header'); %>
<main class="vh-100 vw-100">
	<div class="px-2 py-2 d-flex flex-row justify-content-between" id="topBar">
		<%- include('template/navBar'); %>
		<div class="px-3" id="portBar">
			<%- include('template/portBar'); %>
		</div>
	</div>
	<div class="row" id="appBody">
		<div class="col-3 ps-4"  id="sideBar">
			<%- include('template/tabs'); %>
		</div>
		<div class="col-9 ps-0" id="chartAndTerminalDiv">
			<canvas class="my-0 py-4 pe-4" id="myChart"></canvas>
			<div class="row mx-0 px-0" id="terminalBar">
				<pre class="terminalPre pe-4" id="terminalData"></pre>
			</div>
		</div>
	</div>
</main>
<%- include('template/scripts'); %>
<%- include('template/footer'); %>
<% ejse.stopListening() %>
