<%- include('template/header'); %>
<div class="row">
	<main class="col-md-12">
		<%- include('template/chart'); %>
		<%- include('template/tabs'); %>
	</main>
</div>
<%- include('template/scripts'); %>
<%- include('template/footer'); %>
<% ejse.stopListening() %>
