<%- include('template/header'); %>
<main class="col-md-12">
	<%- include('template/chart'); %>
	<%- include('template/controlBar') %>
	<%- include('template/tabs'); %>
</main>
<%- include('template/scripts'); %>
<%- include('template/footer'); %>
<% ejse.stopListening() %>
