<%- include('template/header'); %>
<main>
	<div class="row px-2" id="topBar">
		<div class="w-75">
			<%- include('template/navBar'); %>
		</div>
		<div class="w-25">
			<%- include('template/portTab'); %>
		</div>
	</div>
	<div class="row" id="appBody">
		<div class="col-3 ps-4"  id="sideBar">	
			<%- include('template/tabs'); %>
		</div>
		<div class="col-9 ps-0" id="chartAndTerminalDiv">
			<canvas class="my-4 pe-4" id="myChart"></canvas>
			<div class="row mx-0 px-0" id="terminalBar">
				<pre class="terminalPre pe-4" id="terminalData"></pre>
			</div>
		</div>
	</div>
</main>
<%- include('template/scripts'); %>
<%- include('template/footer'); %>
<% ejse.stopListening() %>
